.jumbotron {
  padding: 100px;
  background-image: url("https://images2.alphacoders.com/261/thumb-1920-26102.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;

}

.text-center {
    -webkit-animation: mymove 3s infinite;
    animation: mymove 3s infinite;
  }
  
  @keyframes mymove {
    50% {text-shadow: 5px 5px 10px yellow;}
  }
