.jumbotron {
  padding: 100px;
  background-image: url("https://images2.alphacoders.com/261/thumb-1920-26102.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-size: 10%;
}
